<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="connection.url">jdbc:mysql://localhost:3306/many_to_many_lesson</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="show_sql">true</property>

        <mapping resource="ru/schepin/hibernate/model/User.hbm.xml"/>
        <mapping resource="ru/schepin/hibernate/model/Car.hbm.xml"/>
    </session-factory>
</hibernate-configuration>




